p {
  background-color: rgb(48, 10, 10);
  color: antiquewhite;
  padding: 1rem;
  border-radius: 10px;
}

h2 {
  padding: 1rem;
  background-color: antiquewhite;
  border-radius: 10px;
  text-align: center;
}

ul,
ol {
  padding: 1rem;
  background-color: rgb(48, 10, 10);
  color: antiquewhite;
  border-radius: 10px;
  width: 100%;
}
